.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.card {
    border: 1px solid black;
    padding: 1rem;
    background-color: grey;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-family: fantasy;
}

h2 {
    text-align: center;
}

.home {
    text-align: right;
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}